/* Barterunit Style Sheet */

/* Starting web fonst */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@400;500;700&family=Source+Sans+Pro:wght@400;600;700;900&display=swap");
body {
    font-family: "Montserrat", sans-serif;
    color: #000000;
    background-color: #fafbfc;
    overflow-x: hidden;
}

a,
button {
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}

a:hover {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.barterNav {
    position: absolute;
    width: 100%;
    top: 30px;
    left: 0;
    padding: 0 10px;
    z-index: 9999;
}

.barterNav .navbar-nav .nav-link {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0 15px;
}

li.navItemBG a {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 8px 20px;
    border-radius: 8px;
}

li.navItemBG a:hover {
    background-color: #7d8ec2;
}

li.navItemBG a.active {
    background-color: #7d8ec2;
}

.homeBanner {
    background-image: url(../images/banners/home-banner.png);
    background-size: 100% 100%;
    height: 86vh;
    background-color: rgba(255, 255, 255, 0.329);
    position: relative;
    z-index: 99;
}

a.navbar-brand img {
    max-width: 250px;
}

li.navItemBG {
    margin: 0 10px;
}

.homeBannerContent {
    color: #fff;
    padding-top: 50px;
}

.homeBannerContent h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    font-family: "Source Sans Pro", sans-serif;
}

.homeBannerContent h2 span {
    font-weight: 400;
}

.homeBannerContent h4 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 40px;
    font-size: 22px;
    margin-bottom: 20px;
}

.homeBannerContent a img {
    width: 180px;
}

.homeBannerImage {
    margin-top: 20vh;
}

.sPadding {
    padding: 100px 0;
}

.whatIsIt {
    background-color: #fafbfc;
    position: relative;
    background-image: url(../images/graphics/home-layer.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -2px;
    padding: 180px 0 60px;
}

.doubleBG {
}

.title {
    position: relative;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.title::after {
    content: "";
    background-color: #205cb6;
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 4px;
    width: 35px;
    border-radius: 19px;
}

.backBox p {
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 21px 62px 0px rgba(31, 32, 93, 0.05);
    position: relative;
    padding: 32px;
    line-height: 26px;
    font-weight: 400;
    position: relative;
}

.backBox {
    position: relative;
    max-width: 450px;
}

.backBox::before {
    content: "";
    border-radius: 20px;
    background-color: rgb(32, 93, 183);
    box-shadow: 0px 21px 62px 0px rgb(31 32 93 / 5%);
    position: absolute;
    width: 80%;
    height: 60%;
    right: -20px;
    bottom: -20px;
}

.backBox::after {
    content: "";
    background-image: url(../images/icons/small-circle.png);
    position: absolute;
    top: 35px;
    right: -25px;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
}

.simpleBox {
    max-width: 450px;
}

.simpleBox p {
    position: relative;
    line-height: 26px;
    font-weight: 400;
    position: relative;
}

.sectionAgenda {
    position: relative;
    background-color: #e9f1fe;
}

.waveImage {
    max-width: 100%;
    width: 100%;
}

.sectionAgenda::after {
    position: absolute;
    content: "";
    background-image: url(../images/icons/small-circle.png);
    width: 50px;
    height: 50px;
    right: 12%;
    bottom: 0;
    background-size: 98%;
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow(5px 5px 5px #b7b7b7ba);
    filter: drop-shadow(5px 5px 5px #b7b7b7ba);
}

.sliderText {
    border-radius: 18px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 21px 62px 0px rgba(31, 32, 93, 0.09);
    padding: 50px 50px 70px;
    max-width: 700px;
    margin: 60px auto;
    position: relative;
}

.sliderText::before,
.sliderText::after {
    content: "";
    width: 40px;
    height: 50%;
    background-color: rgb(33, 190, 229);
    box-shadow: 0px 21px 62px 0px rgba(31, 32, 93, 0.09);
    transform: translateY(-50%);
    position: absolute;
    transform: translateY(-50%);
    border-radius: 6px;
    top: 50%;
    z-index: -1;
}

.sliderText::before {
    left: -15px;
}

.sliderText::after {
    right: -15px;
}

.sliderText p {
    font-size: 18px;
    position: relative;
    font-weight: 500;
}

.sliderText p::before {
    content: "";
    position: absolute;
    left: -12px;
    top: -20px;
    background-image: url(../images/icons/quot.png);
    width: 30px;
    height: 23px;
    background-size: contain;
    background-repeat: no-repeat;
}

.qoutRight p::after {
    content: "";
    position: absolute;
    right: 30px;
    bottom: 0px;
    background-image: url(../images/icons/quot.png);
    width: 30px;
    height: 23px;
    background-size: contain;
    background-repeat: no-repeat;
}

.sliderText p img {
    width: 30px;
}

.testimonailName {
    max-width: 580px;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}

.testimonailName h2 {
    font-size: 18px;
    margin: 0;
    padding: 20px 0;
    border-radius: 18px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 9px 62px 0px rgba(31, 32, 93, 0.14);
    font-weight: 700;
    position: relative;
    z-index: 99;
}

.testimonailName::before,
.testimonailName::after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: rgb(33, 190, 229);
    box-shadow: 0px 21px 62px 0px rgba(31, 32, 93, 0.09);
    transform: translateY(-50%);
    position: absolute;
    transform: translateY(-50%);
    border-radius: 100%;
    top: 50%;
}

.testimonailName::before {
    left: -12px;
}

.testimonailName::after {
    right: -12px;
}

.carousel-inner {
    overflow: visible;
}

.noAfter::after {
    display: none;
}

.halfCircle {
    position: relative;
}

.halfCircle::after {
    content: "";
    background-image: url(../images/icons/half-circle.png);
    position: absolute;
    width: 48px;
    height: 160px;
    background-size: contain;
    top: 100px;
    left: 0;
    z-index: 9999;
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow(5px 5px 5px #b7b7b7ba);
    filter: drop-shadow(5px 5px 5px #b7b7b7ba);
}

.easyStepsInner > h2 {
    color: #205db7;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    position: relative;
    text-transform: uppercase;
}

.easyStepsInner > h2::after {
    content: "";
    background-color: #205cb6;
    position: absolute;
    bottom: -20px;
    left: 0;
    height: 2px;
    width: 25%;
    border-radius: 19px;
    right: 0;
    margin: 0 auto;
}

.easyStepsInner h3 {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 30px;
}

.step01 {
    position: relative;
    width: 96%;
    margin: 0 auto;
}

.step-1 {
    background-color: #205db7;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    box-shadow: 0px 15px 73px 0px rgba(31, 32, 93, 0.21);
    border: 8px solid #fff;
    margin-bottom: -30px;
    position: relative;
}

.stepContent {
    border-radius: 15px;
    background-color: rgb(212, 226, 240);
    box-shadow: inset 0px 0px 32px 0px rgba(0, 0, 0, 0.2);
    padding: 35px 35px;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
}

.step01.step03 {
    margin-top: 60px;
}

.stepContent.step02 {
    padding: 50px 0 50px;
}

.step01.step1Top {
    position: relative;
    top: -20px;
}

.leftBox::before {
    left: -15px;
    height: 85%;
    bottom: -15px;
}

.digitalMoney {
    background-image: url(../images/banners/money-background.jpg);
    background-size: 100% 100%;
    padding: 120px 0 90px;
    margin-top: 60px;
    color: #fff;
    margin-bottom: -1px;
}

.digitalMoneyInner p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 28px;
    margin-bottom: 0px;
}

.digitalMoneyInner h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 52px;
}

.digitalMoneyInner h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    max-width: 610px;
    margin: 0 auto;
}

.digitalMoneyInner a {
    background-color: rgb(212, 226, 240);
    font-size: 16px;
    color: rgb(6, 26, 74);
    font-weight: bold;
    line-height: 1.288;
    text-align: center;
    display: inline-block;
    margin-top: 25px;
    padding: 15px 10px;
    border-radius: 40px;
    width: 200px;
}

.digitalMoneyInner a:hover {
    background-color: rgb(32, 93, 183);
    color: #fff;
}

.footerTop {
    background-color: #123480;
    padding: 40px 0;
}

.footerTop h2 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    font-size: 22px;
    margin-bottom: 0;
}

.teamList li a {
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.footerPlayIcon {
    font-family: "Roboto", sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.footerPlayIcon a {
    display: inline-block;
    margin: 0 5px;
}

.footerPlayIcon a img {
    display: inline-block;
    max-width: 150px;
}

.folowUs {
    font-family: "Roboto", sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.folowUs a {
    background-color: #144ea2;
    color: #fff;
    width: 40px;
    display: inline-flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
    font-size: 20px;
    border-radius: 6px;
}

.folowUs a:hover {
    color: #144ea2;
    background-color: #fff;
}

footer {
    text-align: center !important;
    font-family: "Roboto", sans-serif;
    padding: 25px 0;
    letter-spacing: 1px;
    background-color: #0b2a70;
    color: #fff;
}

.folowUs a:last-child {
    margin-right: 0;
}
.howItWorksBanner {
    background-image: url(../images/banners/home-banner.png);
    background-size: 100% 100%;
    background-color: rgba(255, 255, 255, 0.329);
    position: relative;
    z-index: 99;
}
.bannerTop {
    padding-top: 170px;
    padding-bottom: 0px;
}
.bannerTop .row {
    margin-right: -5px;
    margin-left: -5px;
}
.bannerTop .row .col {
    padding-right: 5px;
    padding-left: 5px;
}
.howItWorksBanner .bannerTop p {
    text-align: center;
    color: #fff;
    padding: 18px 10px;
    font-weight: 500;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    line-height: 24px;
}
.howItWorksBanner .bannerTop img {
    -webkit-filter: drop-shadow(4px 4px 5px #2f4497);
    filter: drop-shadow(4px 4px 5px #2f4497);
}
.screen02 {
    margin-top: 25px;
}
.screen04 {
    margin-top: 25px;
}
.screen05 {
    margin-top: 75px;
}
.experience-sec h4 {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 40px;
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 25px;
    color: #fff;
}
.experience-sec a {
    display: inline-block;
}
.experience-sec img {
    max-width: 230px;
    margin-bottom: 20px;
}
.maketPlaceWorks {
    background-color: #fafbfc;
    position: relative;
    background-image: url(../images/graphics/home-layer.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -2px;
    padding: 120px 0 60px;
}
.headingDivier h2 {
    color: #205db7;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    position: relative;
    text-transform: uppercase;
}
.headingDivier > h2::after {
    content: "";
    background-color: #205cb6;
    position: absolute;
    bottom: -20px;
    left: 0;
    height: 2px;
    width: 25%;
    border-radius: 19px;
    right: 0;
    margin: 0 auto;
}
.halfCircleRight::after {
    content: "";
    background-image: url(../images/icons/half-circle-right.png);
    position: absolute;
    width: 70px;
    height: 170px;
    background-size: contain;
    top: 100px;
    right: 0;
    z-index: 9999;
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow(5px 5px 5px #b7b7b7ba);
    filter: drop-shadow(5px 5px 5px #b7b7b7ba);
}
.headingDivier {
    margin-bottom: 90px;
}
.stepCount {
    color: #0e1828;
    font-size: 80px;
    line-height: 80px;
    width: 70px;
}
.media.steps {
    align-items: center;
    margin-bottom: 50px;
}
.stepCount span {
    position: relative;
}
.stepCount span::after {
    content: "";
    background-color: #205cb6;
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 3px;
    width: 25px;
    border-radius: 19px;
    right: 0;
    margin: 0 auto;
}
.media.steps h5 {
    color: #0e1828;
    font-weight: 700;
    font-size: 36px;
    padding-top: 15px;
    text-transform: uppercase;
    max-width: 435px;
}
.downloadBox::after {
    right: auto;
    left: 20px;
    bottom: -20px;
    top: auto;
}
.downloadBox::before {
    height: 40px;
    bottom: -16px;
    right: -16px;
}
.row.step04 {
    margin-top: 120px;
}
.circlebottomleft {
    position: relative;
}
.circlebottomleft::after {
    position: absolute;
    content: "";
    background-image: url(../images/icons/small-circle.png);
    width: 50px;
    height: 50px;
    left: -15px;
    bottom: 45px;
    background-size: 98%;
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow(5px 5px 5px #b7b7b7ba);
    filter: drop-shadow(5px 5px 5px #b7b7b7ba);
}
.step06 {
    padding-top: 70px;
    padding-bottom: 30px;
}
.pocketBookSection {
    padding-top: 80px;
}
.pocketBookSection p {
    max-width: 840px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.pocketBookSection img {
    max-width: 700px;
}
.pocketBookSection {
    position: relative;
}
.pocketBookSection::after {
    content: "";
    background-image: url(../images/icons/half-circleBig.png);
    position: absolute;
    width: 100px;
    height: 160px;
    background-size: contain;
    top: 0;
    left: -22px;
    z-index: 9999;
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow(5px 5px 5px #b7b7b7ba);
    filter: drop-shadow(5px 5px 5px #b7b7b7ba);
}
.pocketBookSection::before {
    position: absolute;
    content: "";
    background-image: url(../images/icons/small-circle.png);
    width: 50px;
    height: 50px;
    right: -15px;
    bottom: 10%;
    background-size: 98%;
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow(5px 5px 5px #b7b7b7ba);
    filter: drop-shadow(5px 5px 5px #b7b7b7ba);
}
.footerTop.businessFooter {
    padding-top: 70px;
}
/*  */

nav.staticNav {
    background-color: #205db7;
    position: static;
    padding: 35px 0;
}
nav.staticNav .navbar-nav .nav-link {
    padding: 0 25px;
}
.updatedBannerInner h4 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 40px;
    font-size: 22px;
    margin-bottom: 20px;
    color: #1b3b6a;
}
.updatedBannerInner a img {
    width: 180px;
}
img.dark-logo {
    max-width: 300px;
    margin-bottom: 50px;
}
.updatedBannerInner h2 {
    color: #1b3b6a;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 30px;
}
.updatedBannerInner h2 span {
    font-weight: 700;
}
.updatedBannerInner {
    padding: 20px 0;
}
.updatedBanner {
    background-color: #f3f5f9;
    padding: 20px 0 0;
}
.howItWorksBannerInner {
    background-color: #fafbfc;
    position: relative;
    background-image: url(../images/graphics/wave-12.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -2px;
    padding: 180px 0 60px;
}
.howItWorksBannerInner .bannerTop p {
    color: #205db6;
}
.howItWorksBannerInner .bannerTop img {
    -webkit-filter: drop-shadow(0px 5px 5px #c7c7c7b5);
    filter: drop-shadow(0px 5px 5px #c7c7c7b5);
}
.livingFactsSection {
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 21px 62px 0px rgb(31 32 93 / 9%);
    position: relative;
    margin-top: 80px;
}
.livingFactsSection::before,
.livingFactsSection::after {
    content: "";
    width: 40px;
    height: 100px;
    background-color: rgb(33, 190, 229);
    box-shadow: 0px 21px 62px 0px rgb(31 32 93 / 9%);
    position: absolute;
    border-radius: 6px;
    top: 80px;
}
.livingFactsSection::before {
    left: -18px;
}
.livingFactsSection::after {
    right: -18px;
}
.livingFactsHeader {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    overflow: hidden;
    position: relative;
    -webkit-border-top-left-radius: 30px;
    -webkit-border-top-right-radius: 30px;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-topright: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    z-index: 9;
    background-color: white;
}
.livingFactsHeader p {
    color: #1d2025;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 24px;
}
.livingFactsHeader h2 {
    color: #205db6;
    font-weight: 500;
    font-size: 60px;
    letter-spacing: 3px;
    margin-bottom: 0;
}
.livingFactsHeader h2 span {
    font-weight: 700;
    color: #14b1d9;
}

.livingFactsHeader::before {
    content: "";
    background-image: url(../images/graphics/wave-15.png);
    position: absolute;
    left: 0;
    top: 0;
    height: 120px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
.livingFactsHeader::after {
    content: "";
    background-image: url(../images/graphics/wave-14.png);
    position: absolute;
    right: 0;
    top: 0;
    height: 120px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}
.howItWorksBannerInner {
    position: relative;
}
.howItWorksBannerInner::after {
    position: relative;
}
img.wave-13 {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 36%;
    transform: translateY(-50%);
    z-index: -1;
    height: 650px;
    object-fit: fill;
}
.livingFactsBody {
    position: relative;
    z-index: 99999999;
    background-color: white;
    padding: 0 40px;
    -webkit-border-bottom-right-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -moz-border-radius-bottomright: 30px;
    -moz-border-radius-bottomleft: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.livingFactsList ul li {
    position: relative;
    color: #000000;
    font-size: 18px;
    margin-bottom: 20px;
    padding-left: 22px;
}
.livingFactsList ul li::before {
    content: "";
    background-image: url(../images/icons/circle.png);
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 10px;
    height: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    left: -8px;
}
.howItWorksBannerInner::after {
    position: absolute;
    content: "";
    background-image: url(../images/icons/small-circle.png);
    width: 50px;
    height: 50px;
    right: 10%;
    top: 38%;
    background-size: 98%;
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow(5px 5px 5px #b7b7b7ba);
    filter: drop-shadow(5px 5px 5px #b7b7b7ba);
}
.howItWorksBannerInner::before {
    content: "";
    background-image: url(../images/icons/half-circle.png);
    position: absolute;
    width: 48px;
    height: 160px;
    background-size: contain;
    bottom: 15%;
    left: 0;
    z-index: 9999;
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow(5px 5px 5px #b7b7b7ba);
    filter: drop-shadow(5px 5px 5px #b7b7b7ba);
}


@media screen and (max-width: 660px) {

.livingFactsHeader h2 {
    margin-top: 110px;
    font-size: 40px;
}

}